<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortgage System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Customers</a>
                    <ul>
                        <li><a href="/add_customer">Add Customer</a></li>
                        <li><a href="/search_customer">Search Customer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Loans</a>
                    <ul>
                        <li><a href="/add_loan">Add Loan</a></li>
                        <li><a href="/view_loans">Search Loan</a></li>
                    </ul>
                </li>
            
                <li>
                    <a href="#">Reports</a>
                    <ul>
                        <li><a href="/ntile_report">NTILE Report</a></li>
                        <li><a href="/rank_report">Rank Report</a></li>
                        <li><a href="/dense_rank_report">Dense Rank Report</a></li>
                        <li><a href="/percent_rank_report">Percent Rank Report</a></li>
                            <li><a href="/loan_analysis_report">Loan Analysis Report</a></li>
                        <li><a href="/top_users_report">Top Users Report</a></li>
                        <li><a href="/monthly_disbursement_report">Monthly Disbursement Report</a></li>
                        <li><a href="/overdue_loans_report">Overdue Loans Report</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card-container">
            <div class="card">
                <h2>Manage Customers</h2>
                <img src="../static/images/customer.jpeg" alt="Customers">
                <p>Add, search, and manage customer information easily.</p>
                <div class="button-container">
                    <a href="/search_customer" class="btn">View Customers</a>
                </div>
            </div>
            <div class="card">
                <h2>Loan Management</h2>
                <img src="../static/images/loan-icon.jpeg" alt="Loans">
                <p>Apply for loans or search for existing loan records.</p>
                <div class="button-container">
                    <a href="/view_loans" class="btn">Explore Loans</a>
                </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Your Mortgage System</p>
    </footer>
</body>
</html>
